@using Website.Models.Entity
@{
    Layout = null;
}


@model Product

<partial name="~/Views/Admin/PartialMenu.cshtml" model=ViewBag.Images />
@*

<div style="text-align:center;">
      <h1 >Add</h1>
    <form asp-action="AddProduct" asp-controller="Admin" method="post">
         <input style="width: 200px" type="text" asp-for="Name" placeholder="Product Name" />

         <input  style="width: 200px" value="ADD" type="submit" />

    </form>


</div>

<style>
    body{
    background:#023047;
}
   input[type=button]{
        background:orange;
        padding:20px;
        margin-top:40px;
    }
    input[type=text],input[type=submit]{
        background:#457b9d;
        padding:20px;
        margin-top:40px;
        color: black;
    }
    ::placeholder {
  color: black;
  opacity: 1; 

}
 h1{
        color:orange;
        padding-top:150px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>*@