<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Styles.css" / >
</head>
<body>
     <header>
        <div class="wrapper hover_collapse">

    <div class="top_navbar">

        <div class="logo">TrendYol</div>


        <div class="menu"> 
              <div class="hamburger">
             <i class="fas fa-bars"></i>
            </div>
       </div>
    </div>
     <div class="sidebar">
     <div class="sidebar_inner">
  <ul>
      <li>
      <a href="#">
    <span class="icon"><i class="fa fa-qrcode"></i></span>
    <span class="text">HOME</span>
      </a>
      </li>

      <li>
      <a href="#">
    <span class="icon"><i class="fa fa-link"></i></span>
    <span class="text"  onclick="location.href='@Url.Action("Product")'">PRODUCTS</span>
      </a>
      </li>
      <li>
      <a href="#">
    <span class="icon"><i class="fa fa-eye"></i></span>
    <span class="text"  onclick="location.href='@Url.Action("Catalogue")'" >CATALOGE</span>
      </a>
      </li>
      <li>
      <a href="#">
    <span class="icon"><i class="fa fa-book"></i></span>
    <span class="text">Event</span>
      </a>
      </li>
      <li>
      <a href="#">
    <span class="icon"><i class="fa fa-question-circle"></i></span>
    <span class="text">About</span>
      </a>
      </li>
      <li>
      <a href="#">
    <span class="icon"><i class="fa fa-pen"></i></span>
    <span class="text">Service</span>
      </a>
      </li>
      <li>
      <a href="#">
    <span class="icon"><i class="fa fa-id-card"></i></span>
    <span class="text">Contact</span>
      </a>
      </li>
  </ul>
</div>
</div>



</div>
<script src="~/js/javascript.js"></script>
</body>